form{
}
.conta-che{
    display: flex;
    gap: 1.1em;
    margin-top: 2.5em;
}



.checout-right-content{
width: 706px;}
.checout-left-content{flex: 3;
    height: 639px;
    display: flex;
justify-content: space-around;
padding-inline: 1em ;
flex-direction: column;
border: 1px solid var(--secondary-color);
border-radius: .5em;}
.checkout-name
{
    width: 100%;
    margin-bottom: 49px;
    gap: 1em;


}

.checkout-name input{
    width: calc((100% - 1em) / 2);
    padding-right: 1em;
    border-radius: .5em;
    padding-block: 1em;
    border: 1px solid var(--secondary-color);




}
.for{width: 100%;}
.input-container input{
    
    padding-block: 1em;
    padding-right: 1em;
    border: 1px solid var(--secondary-color);
}


.input-container{
gap: 0px;
display: flex;
    margin-bottom: 49px;
}

.check-mail input{
    width: 100%;
    border-radius: .5em;
    padding-block: 1em;
    padding-right: 1em;
    border: 1px solid var(--secondary-color);

}
.country-code{
    width: 7.5em;
    border-radius: 0  .5em   .5em 0;
}
.mobile-number{
    border-radius:   .5em  0 0 .5em ;
    width: 44em;
}
.pay-header{
    margin-block: 2em;
    font-weight: 700;
    font-size: 2em;
}
.pay-checkpox{
    color: #616161;
}

.header-left h3{
    color: var(--primary-color);
    text-align:right;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: 1em;


}

.header-left h3 span{    color: var(--orange-color);


}
.pay-header h3{
    color: var(--orange-color);

}
.pay-header h3 span{
    color: var(--primary-color);

}
.empty-pay{
    margin-top: 2em;
    width:44em ;
    height: 45em;
    border-radius: .5em;
    background-color: var(--secondary-color);
    margin-bottom: 2em;
}
.check-logo{
    width:18.8em ;
    height: 12.4em;

}
.check-logo-text{
    background: var(--secondary-color);
    width:18.8em ;
height: 19.6em;
border-radius: .3em;




}
.check-logo img{
    width: 100%;
    height: 100%;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;

}
.check-logo-text h3,h4,h5{
    color: var(--gray-color-card-text);
padding-inline: 1.5em;}
.check-logo-text h3{
    color: var(--primary-color)
    ;
    font-weight: 700;
}
.check-logo-text h4{
    font-weight: 700;
}
.code-disscount{
    width: 18.6em;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}
.code-disscount input{height: 2em;
flex: 3;

border: 0.5px solid var(--secondary-color);
padding-right: 1em;
}
.code-disscount button{
    flex: 1;
    height: 2em;
    background: var(--orange-color);
    color:white;
    border: 0;
    cursor: pointer;

}
hr {
border: 1px solid #686868;
width: 100%;
margin-bottom: 2em;
border: 0.5px solid var(--secondary-color);

}
.p-h{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.p-h h3{
    color: var(--primary-color);
}
.last-btn button{
    margin-bottom: 1em;
    width: 18.5em;
    border-radius: 3em;

}

.last-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}