.section-header-heade .section-header span{
    color: var(--orange-color);

}
.section-header-heade{
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-header-heade .section-header h3{
    font-weight: 700;
    font-size: 2.9em;
}
.section-header-heade .section-header p
{
    color: var(--gray-color-card-text);
    line-height: 1.75em;
    padding-top: 2.5em;
    padding-bottom: 1em;
}

.logo-heade{
    width: 30em;
    height: 20em;
}
.logo-heade img{
    width: 100%;
    height: 100%;
}
.ourgoals-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

margin-bottom: 1em;

}
.ourgoals-text{
    width: calc((100% - 1em) / 2);
    color: var(--white-color);
    padding-block: 3.7em;
    padding-inline: 2.9em;
    line-height: 40px;
    height: 491px;
    border-radius: .4em;
}
.ourgoals-text h3{
    font-weight: 700;
    font-size: 2.9em;
}
.ourgoals-text h2{
    font-weight: 600;
    font-size: 1.6em;
}
.ourgoals-text p{
    font-weight: 400;
    font-size: 1em;

    text-align: justify;

}
.go-tex{
    background: var(--yellow-color);
}
.se-tex{
    background: var(--blue-color);
}
.about-video-text{
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3em;
    margin-bottom: 4.6em;
}
.video-img{
    width:67.25 ;
    height: 37em;
    position: relative;

}
.video-img img{
    width: 100%;
    height: 100%;
}
.t1{
    width: calc((100% - 3em) /2);
}
.t1 p{
    color: var(--gray-color-card-text);
    font-size: 1em;
    font-weight: 400;
}
.t1 h2{
    font-weight: 700;
    font-size: 4em;
}
.t1 h2 span:nth-last-of-type(3){
    color: var(--primary-color);
}
.t1 h2 span:nth-last-of-type(2){
    color: var(--yellow-color);
}
.t1 h2 span:nth-last-of-type(1){
    color: var(--orange-color);
}